@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

:root{
	--softBlue: hsl(215, 51%, 70%);
	--cyan: hsl(178, 100%, 50%);
	--veryDarkBlue-main: hsl(217, 54%, 11%);
	--veryDarkBlue-card: hsl(216, 50%, 16%);
	--veryDarkBlue-line: hsl(215, 32%, 27%);
	--white: hsl(0, 0%, 100%);
}

body{
	font-family: 'Outfit', sans-serif;
	font-size: 12px;

	background-color: var(--veryDarkBlue-main);
	color: var(--white);

	height: 100vh;

	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card{
	background-color: var(--veryDarkBlue-card);
	width: 330px;
	border-radius: 15px;
}

.container{
	position: relative;

	justify-content: center;
	align-items: center;
}

.card-img-top, .overlay{
	border-radius: 10px;
}

.container .overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: var(--cyan);

	opacity: 0;
	transition: 1s ease;
}

.container .overlay-img{
	position: absolute;
	display: none;
}

.container:hover .overlay{
	opacity: 0.5;
}

.container:hover .overlay-img{
	display: block;
}

.card-title{
	font-size: 20px;
}

.card-text{
	color: var(--softBlue);
	font-size: 18px;
}

.line{
	background-color: var(--veryDarkBlue-line);
}

.eth{
	color: var(--cyan);
}

.eth, .days-left, .creator-area{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.days-left span{
	color: var(--softBlue);
}

.creator-area img{
	width: 40px;
	border: 2px solid var(--white);
}

.creator-name{
	color: var(--white);
}

.container, .card-title, .creator-name{
	cursor: pointer;
}

.card-title:hover, .creator-name:hover{
	color: var(--cyan);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }